.navBar
{
    display:inline-flex;
    justify-content: space-between;

    width: 100vw;
    padding: 1rem 1rem;

    box-sizing: border-box;

    border: 4px solid;
}

.navLinks
{
    flex: 1;

    display:inline-flex;
    justify-content:space-evenly;

}

.navLink
{
    font-family: "Lexend", system-ui;
    font-size: x-large;
    font-weight: 550;

    text-decoration: none;
    color:black;

    margin: 1rem 0.5rem;
}

.navMessage
{
    flex: 1;

    display: inline-flex;
    justify-content: end;

    font-family: "Lexend", system-ui;
    font-size:x-large;
    font-weight: 400;
    font-style: normal;

    margin: 1rem 0.5rem;
    padding-right: 4rem;
}