.carousel-container {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-content {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}